<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	<div class="joinlink container-fluid">         
	    <h2>Join My Awesome Mailing List</h2>
	</div>
	<div class="joinform sr-only-focusable">          
		<h3>Thank you for your interest in my awesome information!</h3> 
        <p> Please fill out the awesome form below. We will contact you awesomely soon with more awesome information about how to be freaking awesome.</p>

	    <form id="join" action="#" method="post">
	    	<div class="input-block">
				<label for="firstname">First Name:</label>
				<input id="firstName" name="firstname" type="text" value=""/>
			</div>

			<div class="input-block">
				<label for="lastname">Last Name:</label>
				<input id="lastName" name="lastname" type="text" value=""/>
			</div>

			<div class="input-block">
				<label for="email">Please enter your email:</label>
				<input id="email" name="email" type="text" value=""/>
			</div>

			<div class="input-block">
				<input id="submit" type="button" name="button" Value="Submit!"/>
			</div>

	   	</form>
	</div>
	<script type="text/javascript" src="javascripts/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="javascripts/subscribe.js"></script>
  </body>
</html>