body {
	padding: 50px;
	text-align: center;
	background-color: #4ac;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.input-block {
	display: block;
	margin: 20px;
}

input {
	border: 2px solid #ccc;
	font-size: 1em;
}

#submit {
	font-weight: bold;
	padding: 5px;
} 